

.settings-perspective {
  height: 100%;
  perspective: 800;
  position: relative;
  width: 100%;
  z-index: -100;
}

.settings-button-text { .visually-hidden() }

.settings-button {
  background: transparent;
  border: 0;
  height: 1.5rem;
  position: absolute;
  top: 5%; right: 5%;
  width: 1.5rem;
  .settings-button-icon {
    position: absolute;
    top:0; left:0;
    height: 100%;
    width: 100%;
    transition: all 0.45s ease-in-out;
    &:before{
      text-shadow: 0 0 4px rgba( 255, 255, 255, 0.5 );
      font-size: 1.5rem;
      height: 100%;
      width: 100%;
    }
  }
  &:focus {
    outline: none;
  }
  &.settings-button-s-closed {
    .settings-button-icon.icon-settings-close{
      transform: scale(0);
    }
    .settings-button-icon.icon-settings-open{
      transform: scale(1);
    }
  }
  &.settings-button-s-open {
    .settings-button-icon.icon-settings-close{
      transform: scale(1);
    }
    .settings-button-icon.icon-settings-open{
      transform: scale(0);
    }
  }
}


.settings {
  @transTime: 0.475s;
  background: rgba( 255, 255, 255, 0.85 );
  height: 100%;
  width: 100%;
  transform-origin: 50% 0;
  transition: transform @transTime ease-in-out, opacity @transTime ease-in-out;

  &.settings-s-closed {
    z-index: -9999;
    //TEMP
    // display: none;
    // //TEMP
    opacity: 0;
    transform: rotateX(-90deg) translate( 0, -50% );
  }
  &.settings-s-open {
    z-index: 9999;
    //TEMP
    // display: block;
    //TEMP
    opacity: 1;
    transform: rotateX(0deg) translate( 0, 0 );
  }
}

.settings-list {
  .mauto();
  list-style: none;
  padding: 0;
  transition: width 0.425s ease-in-out;
  width: 95%;
  @media @mq-small { width: 80%; }
  @media @mq-medium { width: 65%; }
  @media @mq-large { width: 50%; }
}

.settings-list-item {


}

.settings-list-heading {
  margin: 0;
  padding: 0;
}

.settings-subreddit-list {
  list-style: none;
}




