@font-face {
  font-family: 'PlayfairDisplay-Black';
  src: url('../fonts/playfair/PlayfairDisplay-Black.woff2') format('woff2'), url('../fonts/playfair/PlayfairDisplay-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-Heavy';
  src: url('../fonts/raleway/Raleway-Heavy.woff2') format('woff2') url('../fonts/raleway/Raleway-Heavy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EarthTab';
  src: url('../fonts/icons/earthtab.eot?-lcbspf');
  src: url('../fonts/icons/earthtab.eot?#iefix-lcbspf') format('embedded-opentype'), url('../fonts/icons/earthtab.woff?-lcbspf') format('woff'), url('../fonts/icons/earthtab.ttf?-lcbspf') format('truetype'), url('../fonts/icons/earthtab.svg?-lcbspf#EarthTab') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'EarthTab';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-settings-close:before {
  content: "\e600";
}
.icon-settings-open:before {
  content: "\e601";
}
.icon-award:before {
  content: "\2665";
}
.icon-time:before {
  content: "\23f0";
}
.icon-user:before {
  content: "\263b";
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  color: #333;
  font-family: 'Raleway-Heavy', 'Raleway', 'Roboto', Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.435;
  font-size: 18px;
  height: 100%;
  width: 100%;
}
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.main {
  background-image: linear-gradient(to bottom, #ffffff 0%, #f1f1f1 50%, #ffffff 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: block;
  height: 100%;
  position: relative;
  transition: opacity 0.365s ease-in-out;
  transform-style: preserve-3d;
  opacity: 0;
  width: 100%;
}
.main.main-visible {
  opacity: 1;
}
.i-container {
  perspective: 1000;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.i-container.i-container-s-open .i-container-flipper {
  transform: rotateY(900deg);
}
.i-container.i-container-s-closed .i-container-flipper {
  transform: rotateY(0deg);
}
.i-container,
.i-container-front,
.i-container-back {
  cursor: pointer;
  text-align: center;
  transition: all 0.45s ease-in-out;
}
.i-container-s-open {
  height: 200px;
  width: 200px;
}
@media all and (min-width: 400px) and (min-height: 320px) {
  .i-container-s-open {
    height: 300px;
    width: 300px;
  }
}
@media all and (min-width: 600px) and (min-height: 460px) {
  .i-container-s-open {
    height: 450px;
    width: 450px;
  }
}
@media all and (min-width: 800px) and (min-height: 620px) {
  .i-container-s-open {
    height: 600px;
    width: 600px;
  }
}
.i-container-s-open .i-container-front,
.i-container-s-open .i-container-back {
  height: 200px;
  width: 200px;
}
@media all and (min-width: 400px) and (min-height: 320px) {
  .i-container-s-open .i-container-front,
  .i-container-s-open .i-container-back {
    height: 300px;
    width: 300px;
  }
}
@media all and (min-width: 600px) and (min-height: 460px) {
  .i-container-s-open .i-container-front,
  .i-container-s-open .i-container-back {
    height: 450px;
    width: 450px;
  }
}
@media all and (min-width: 800px) and (min-height: 620px) {
  .i-container-s-open .i-container-front,
  .i-container-s-open .i-container-back {
    height: 600px;
    width: 600px;
  }
}
.i-container-s-open .i-container-front .i-container-inner,
.i-container-s-open .i-container-back .i-container-inner {
  height: 140px;
  width: 140px;
}
@media all and (min-width: 400px) and (min-height: 320px) {
  .i-container-s-open .i-container-front .i-container-inner,
  .i-container-s-open .i-container-back .i-container-inner {
    height: 210px;
    width: 210px;
  }
}
@media all and (min-width: 600px) and (min-height: 460px) {
  .i-container-s-open .i-container-front .i-container-inner,
  .i-container-s-open .i-container-back .i-container-inner {
    height: 315px;
    width: 315px;
  }
}
@media all and (min-width: 800px) and (min-height: 620px) {
  .i-container-s-open .i-container-front .i-container-inner,
  .i-container-s-open .i-container-back .i-container-inner {
    height: 420px;
    width: 420px;
  }
}
.i-container-s-closed {
  height: 100px;
  width: 100px;
}
@media all and (min-width: 400px) and (min-height: 320px) {
  .i-container-s-closed {
    height: 175px;
    width: 175px;
  }
}
@media all and (min-width: 600px) and (min-height: 460px) {
  .i-container-s-closed {
    height: 250px;
    width: 250px;
  }
}
@media all and (min-width: 800px) and (min-height: 620px) {
  .i-container-s-closed {
    height: 300px;
    width: 300px;
  }
}
.i-container-s-closed .i-container-front,
.i-container-s-closed .i-container-back {
  height: 100px;
  width: 100px;
}
@media all and (min-width: 400px) and (min-height: 320px) {
  .i-container-s-closed .i-container-front,
  .i-container-s-closed .i-container-back {
    height: 175px;
    width: 175px;
  }
}
@media all and (min-width: 600px) and (min-height: 460px) {
  .i-container-s-closed .i-container-front,
  .i-container-s-closed .i-container-back {
    height: 250px;
    width: 250px;
  }
}
@media all and (min-width: 800px) and (min-height: 620px) {
  .i-container-s-closed .i-container-front,
  .i-container-s-closed .i-container-back {
    height: 300px;
    width: 300px;
  }
}
.i-container-s-closed .i-container-front .i-container-inner,
.i-container-s-closed .i-container-back .i-container-inner {
  height: 70px;
  width: 70px;
}
@media all and (min-width: 400px) and (min-height: 320px) {
  .i-container-s-closed .i-container-front .i-container-inner,
  .i-container-s-closed .i-container-back .i-container-inner {
    height: 122.5px;
    width: 122.5px;
  }
}
@media all and (min-width: 600px) and (min-height: 460px) {
  .i-container-s-closed .i-container-front .i-container-inner,
  .i-container-s-closed .i-container-back .i-container-inner {
    height: 175px;
    width: 175px;
  }
}
@media all and (min-width: 800px) and (min-height: 620px) {
  .i-container-s-closed .i-container-front .i-container-inner,
  .i-container-s-closed .i-container-back .i-container-inner {
    height: 210px;
    width: 210px;
  }
}
.i-container-s-visible {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
.i-container-s-hidden {
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
}
.i-container-flipper {
  position: relative;
  transition-duration: 1.15s;
  transition-timing-function: cubic-bezier(0.53, 0.02, 0, 1.03);
  transform-style: preserve-3d;
}
.i-container-front,
.i-container-back {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 100%;
  backface-visibility: hidden;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.i-container-front {
  transform: rotateY(0deg);
  z-index: 2;
}
.i-container-back {
  transform: rotateY(900deg);
}
.i-container-inner {
  overflow: hidden;
  transition: width 0.45s ease-in-out, height 0.45s ease-in-out;
}
.i-container-time {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  font-size: 2rem;
  font-family: 'PlayfairDisplay-Black', 'Playfair Display', 'Georgia', Times, serif;
  font-weight: 900;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: font-size 0.45s ease-in-out;
}
@media all and (min-width: 400px) and (min-height: 320px) {
  .i-container-time {
    font-size: 3rem;
  }
}
@media all and (min-width: 600px) and (min-height: 460px) {
  .i-container-time {
    font-size: 4rem;
  }
}
@media all and (min-width: 800px) and (min-height: 620px) {
  .i-container-time {
    font-size: 5rem;
  }
}
.i-info-text {
  color: #333;
  display: block;
  font-family: 'PlayfairDisplay-Black', 'Playfair Display', 'Georgia', Times, serif;
  font-weight: 900;
  text-decoration: none;
  font-size: 0.675rem;
  line-height: 1.25;
  letter-spacing: -0.025rem;
  text-shadow: 0 1px 1px rgba(200, 200, 200, 0.45);
  transition: all 0.45s ease-in-out;
}
@media all and (min-width: 400px) and (min-height: 320px) {
  .i-info-text {
    font-size: 0.95rem;
    line-height: 1.4;
    letter-spacing: -0.075rem;
  }
}
@media all and (min-width: 600px) and (min-height: 460px) {
  .i-info-text {
    font-size: 1.45rem;
    line-height: 1.3;
  }
}
@media all and (min-width: 800px) and (min-height: 620px) {
  .i-info-text {
    font-size: 1.95rem;
    line-height: 1.2;
  }
}
.i-info-line {
  display: block;
  border-top: none;
  border-bottom: 2px solid #333;
  margin: 0.25rem auto 0;
  width: 100%;
  transition: margin 0.45s ease-in-out, border-width 0.45s ease-in-out;
}
@media all and (min-width: 400px) and (min-height: 320px) {
  .i-info-line {
    margin-top: 0.5rem;
  }
}
@media all and (min-width: 600px) and (min-height: 460px) {
  .i-info-line {
    border-bottom-width: 3px;
    margin-top: 1rem;
  }
}
@media all and (min-width: 800px) and (min-height: 620px) {
  .i-info-line {
    margin-top: 1.25rem;
  }
}
.i-info-list {
  list-style: none;
  font-family: 'Raleway-Heavy', 'Raleway', 'Roboto', Helvetica, sans-serif;
  font-weight: 900;
  padding: 0;
  text-align: left;
}
.i-info-list-item {
  border-bottom: 2px solid #333;
  clear: both;
  cursor: pointer;
  display: inline-block;
  float: left;
  margin: 0;
  padding: .25rem .125rem 0 0;
  user-select: none;
  transition: color 0.45s ease-in-out, text-shadow 0.45s ease-in-out, padding 0.45s ease-in-out, border-width 0.45s ease-in-out;
}
.i-info-list-item > * {
  display: inline-block;
  vertical-align: top;
}
.i-info-list-item:hover {
  color: #f1f1f1;
  text-shadow: 0 0 2px rgba(20, 20, 20, 0.65);
}
.i-info-list-item:hover .i-info-icon {
  width: 25px;
}
@media all and (min-width: 400px) and (min-height: 320px) {
  .i-info-list-item:hover .i-info-icon {
    width: 30px;
  }
}
@media all and (min-width: 600px) and (min-height: 460px) {
  .i-info-list-item:hover .i-info-icon {
    width: 45px;
  }
}
.i-info-list-item:hover .i-info-list-item-link {
  color: #f1f1f1;
}
@media all and (min-width: 600px) and (min-height: 460px) {
  .i-info-list-item:first-child .i-info-icon {
    font-size: 1.75rem;
  }
}
@media all and (min-width: 400px) and (min-height: 320px) {
  .i-info-list-item {
    padding: .25rem .25rem .25rem 0;
  }
}
@media all and (min-width: 600px) and (min-height: 460px) {
  .i-info-list-item {
    border-bottom: 3px solid #333;
    padding: .35rem .35rem .5rem 0;
  }
}
@media all and (min-width: 800px) and (min-height: 620px) {
  .i-info-list-item {
    padding: .5rem .5rem .75rem 0;
  }
}
.i-info-icon {
  font-size: 0.85rem;
  padding: 0;
  transition: width 0.275s ease-in-out, font-size 0.45s ease-in-out, padding 0.45s ease-in-out;
  width: 20px;
}
@media all and (min-width: 400px) and (min-height: 320px) {
  .i-info-icon {
    font-size: 1rem;
    padding: 0 0.125rem;
    width: 25px;
  }
}
@media all and (min-width: 600px) and (min-height: 460px) {
  .i-info-icon {
    font-size: 1.25rem;
    padding: 0 0.25rem;
    width: 40px;
  }
}
@media all and (min-width: 800px) and (min-height: 620px) {
  .i-info-icon {
    font-size: 1.5rem;
  }
}
.i-info-list-item-link {
  color: #333;
  line-height: 1;
  text-decoration: none;
  font-size: 0.5rem;
  transition: color 0.45s ease-in-out, font-size 0.45s ease-in-out;
}
@media all and (min-width: 400px) and (min-height: 320px) {
  .i-info-list-item-link {
    font-size: 0.85rem;
  }
}
@media all and (min-width: 600px) and (min-height: 460px) {
  .i-info-list-item-link {
    font-size: 1.2rem;
  }
}
@media all and (min-width: 800px) and (min-height: 620px) {
  .i-info-list-item-link {
    font-size: 1.675rem;
  }
}
.settings-action-button {
  background: transparent;
  border: 0;
  cursor: pointer;
  height: 1.5rem;
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 1.5rem;
}
.settings-action-button:hover .settings-button-icon {
  color: #f1f1f1;
}
.settings-action-button .settings-button-icon {
  color: #333;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 0.45s ease-in-out;
}
.settings-action-button .settings-button-icon:before {
  text-shadow: 0 0 7px rgba(255, 255, 255, 0.55);
  font-size: 1.5rem;
  height: 100%;
  width: 100%;
}
.settings-action-button:focus {
  outline: none;
}
.settings-action-button.settings-button-s-closed .settings-button-icon.icon-settings-close {
  transform: scale(0);
}
.settings-action-button.settings-button-s-closed .settings-button-icon.icon-settings-open {
  transform: scale(1);
}
.settings-action-button.settings-button-s-open .settings-button-icon.icon-settings-close {
  transform: scale(1);
}
.settings-action-button.settings-button-s-open .settings-button-icon.icon-settings-open {
  transform: scale(0);
}
.settings-saved-alert {
  cursor: default;
  display: block;
  position: fixed;
  top: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
  transition: opacity 1.15s ease-in-out;
  width: 100%;
}
.settings-saved-alert.settings-saved-alert-s-hidden {
  opacity: 0;
}
.settings-saved-alert.settings-saved-alert-s-visible {
  transition-duration: 0.65s;
  opacity: 1;
}
.settings-saved-alert .settings-saved-alert-text {
  color: #333;
  text-shadow: 0 0 8px #fff;
  font-family: 'Raleway-Heavy', 'Raleway', 'Roboto', Helvetica, sans-serif;
  font-size: 0.85rem;
  font-weight: 900;
  letter-spacing: -0.05rem;
  transition: font-size 0.275s ease-in-out;
}
@media all and (min-width: 400px) and (min-height: 320px) {
  .settings-saved-alert .settings-saved-alert-text {
    font-size: 0.95rem;
  }
}
@media all and (min-width: 600px) and (min-height: 460px) {
  .settings-saved-alert .settings-saved-alert-text {
    font-size: 1.05rem;
  }
}
@media all and (min-width: 800px) and (min-height: 620px) {
  .settings-saved-alert .settings-saved-alert-text {
    font-size: 1.25rem;
  }
}
.settings-perspective {
  height: 100%;
  perspective: 800;
  position: relative;
  width: 100%;
  z-index: -100;
}
.settings {
  background-color: rgba(255, 255, 255, 0.65);
  height: 100%;
  overflow: scroll;
  transform-origin: 50% 0;
  transition: transform 0.475s ease-in-out, background-color 0.7s ease-in-out;
  width: 100%;
}
.settings.settings-s-closed {
  z-index: -9999;
  transform: rotateX(-120deg) translate(0, 0);
}
.settings.settings-s-open {
  z-index: 9999;
  transform: rotateX(0deg) translate(0, 0);
}
.settings-list {
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  padding: 4rem 0;
  transition: width 0.425s ease-in-out;
  width: 95%;
}
@media all and (min-width: 400px) and (min-height: 320px) {
  .settings-list {
    width: 80%;
  }
}
@media all and (min-width: 600px) and (min-height: 460px) {
  .settings-list {
    width: 70%;
  }
}
@media all and (min-width: 800px) and (min-height: 620px) {
  .settings-list {
    width: 60%;
  }
}
.settings-list-item {
  margin: 0.75rem 0;
}
.settings-list-heading {
  font-family: 'PlayfairDisplay-Black', 'Playfair Display', 'Georgia', Times, serif;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.1;
  letter-spacing: -0.05rem;
  margin: 0.25rem 0 1rem 0;
  padding: 0;
}
@media all and (min-width: 800px) and (min-height: 620px) {
  .settings-list-heading {
    font-size: 1.8rem;
    margin: 1rem 0 1.75rem 0;
  }
}
.settings-subreddit-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  -webkit-user-select: none;
  user-select: none;
}
.settings-subreddit-list-item {
  cursor: pointer;
  height: 100px;
  flex-grow: 1;
  margin: 0.15rem;
  position: relative;
  text-align: center;
  width: 50%;
}
@media all and (min-width: 400px) and (min-height: 320px) {
  .settings-subreddit-list-item {
    width: 33.33332%;
  }
}
@media all and (min-width: 600px) and (min-height: 460px) {
  .settings-subreddit-list-item {
    width: 25%;
  }
}
@media all and (min-width: 800px) and (min-height: 620px) {
  .settings-subreddit-list-item {
    width: 20%;
  }
}
.settings-subreddit-label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  text-align: center;
  width: 100%;
  z-index: 5;
}
.settings-subreddit-label-link {
  text-shadow: 0 0 5px rgba(51, 51, 51, 0.65);
  color: #fff;
  display: inline-block;
  font-family: 'Raleway-Heavy', 'Raleway', 'Roboto', Helvetica, sans-serif;
  font-size: 0.85rem;
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-decoration: none;
}
.settings-subreddit-label-link:before {
  background: #fff;
  box-shadow: 0 0 3px rgba(51, 51, 51, 0.65);
  content: '';
  display: inline-block;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 50%;
  bottom: -2px;
  transition: width 0.425s ease-in-out;
  transform: translate(-50%, -50%);
  width: 0;
}
.settings-subreddit-label-link:hover:before {
  width: 100%;
}
.settings-subreddit-checkbox {
  -webkit-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 150%;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  -webkit-filter: blur(4px) grayscale(100%);
  transition: background-size 0.285s ease-in-out, -webkit-filter 0.285s ease-in-out, opacity 0.285s ease-in-out;
  opacity: 0.8;
}
.settings-subreddit-checkbox:checked {
  background-size: 200%;
  -webkit-filter: blur(0) grayscale(0);
  opacity: 1;
}
.settings-subreddit-checkbox:focus {
  outline: none;
}
.settings-button {
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: 1px solid #333;
  border-radius: 0.45rem;
  color: #333;
  cursor: pointer;
  font-size: 1rem;
  font-family: 'PlayfairDisplay-Black', 'Playfair Display', 'Georgia', Times, serif;
  font-weight: 900;
  letter-spacing: -0.05rem;
  margin: 0.75rem auto;
  padding: 0.5rem 1rem;
  overflow: hidden;
  text-align: center;
  width: 100%;
}
.settings-button:hover {
  color: #f1f1f1;
}
.settings-button:hover:before {
  transform: translate(0, 0);
}
.settings-button:before {
  background-color: #333;
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transform: translate(-100%, 0);
  transition: transform 0.45s cubic-bezier(0, 0.56, 0.99, 0.75);
  z-index: -1;
}
.settings-button:focus {
  outline: none;
}
.settings-force-refresh-button {
  font-size: 1rem;
  position: relative;
  transition: color 0.45s cubic-bezier(0, 0.56, 0.99, 0.75), font-size 0.45s ease-out, padding 0.45s ease-out, border-color 0.7s ease-in-out;
}
@media all and (min-width: 400px) and (min-height: 320px) {
  .settings-force-refresh-button {
    font-size: 1.1rem;
    padding: 0.75rem 1.5rem;
  }
}
@media all and (min-width: 600px) and (min-height: 460px) {
  .settings-force-refresh-button {
    font-size: 1.25rem;
    padding: 1rem 2rem;
  }
}
.settings-theme-option-radio {
  display: none;
  pointer-events: none;
}
.settings-theme-option-radio + .settings-theme-option-label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  border: 1px solid #333;
  border-radius: 0.4rem;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-family: 'PlayfairDisplay-Black', 'Playfair Display', 'Georgia', Times, serif;
  font-weight: 900;
  letter-spacing: -0.05rem;
  overflow: hidden;
  padding: 0.675rem 1.5rem;
  position: relative;
  text-align: center;
  transition: color 0.45s cubic-bezier(0, 0.56, 0.99, 0.75), border-color 0.7s ease-in-out;
  width: 50%;
}
.settings-theme-option-radio + .settings-theme-option-label:nth-of-type(1) {
  border-right: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.settings-theme-option-radio + .settings-theme-option-label:nth-of-type(1):before {
  transform: translate(250%, 0);
}
.settings-theme-option-radio + .settings-theme-option-label:nth-of-type(2) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.settings-theme-option-radio + .settings-theme-option-label:nth-of-type(2):before {
  transform: translate(-150%, 0);
}
.settings-theme-option-radio + .settings-theme-option-label:before {
  background-color: #333;
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 101%;
  width: 100%;
  z-index: -1;
  transition: transform 0.25s cubic-bezier(0, 0.56, 0.99, 0.75), background-color 0.7s ease-in-out;
}
.settings-theme-option-radio:checked + .settings-theme-option-label {
  color: #f1f1f1;
}
.settings-theme-option-radio:checked + .settings-theme-option-label:nth-of-type(1):before {
  transform: translate(0, 0);
}
.settings-theme-option-radio:checked + .settings-theme-option-label:nth-of-type(2):before {
  transform: translate(0, 0);
}
.bg-sub-earthporn .settings-subreddit-checkbox {
  background-image: url('../images/sub-previews/earthporn.jpg');
}
.bg-sub-skyporn .settings-subreddit-checkbox {
  background-image: url('../images/sub-previews/skyporn.jpg');
}
.bg-sub-waterporn .settings-subreddit-checkbox {
  background-image: url('../images/sub-previews/waterporn.jpg');
}
.bg-sub-desertporn .settings-subreddit-checkbox {
  background-image: url('../images/sub-previews/desertporn.jpg');
}
.bg-sub-winterporn .settings-subreddit-checkbox {
  background-image: url('../images/sub-previews/winterporn.jpg');
}
.bg-sub-autumnporn .settings-subreddit-checkbox {
  background-image: url('../images/sub-previews/autumnporn.jpg');
}
.bg-sub-springporn .settings-subreddit-checkbox {
  background-image: url('../images/sub-previews/springporn.jpg');
}
.bg-sub-summerporn .settings-subreddit-checkbox {
  background-image: url('../images/sub-previews/summerporn.jpg');
}
.bg-sub-weatherporn .settings-subreddit-checkbox {
  background-image: url('../images/sub-previews/weatherporn.jpg');
}
.bg-sub-lakeporn .settings-subreddit-checkbox {
  background-image: url('../images/sub-previews/lakeporn.jpg');
}
.bg-sub-spaceporn .settings-subreddit-checkbox {
  background-image: url('../images/sub-previews/spaceporn.jpg');
}
.main-t-light .i-container-front,
.main-t-light .i-container-back {
  background-color: rgba(255, 255, 255, 0.4);
}
.main-t-light .i-container-time {
  color: #333;
}
.main-t-light .i-info-text {
  color: #333;
  text-shadow: 0 1px 1px rgba(200, 200, 200, 0.45);
}
.main-t-light .i-info-line {
  border-color: #333;
}
.main-t-light .i-info-list-item,
.main-t-light .i-info-list-item-link {
  color: #333;
  border-color: #333;
  text-shadow: 0 0 2px rgba(200, 200, 200, 0.65);
}
.main-t-light .i-info-list-item:hover .i-info-list-item-link {
  color: #f1f1f1;
}
.main-t-light .settings {
  background: rgba(255, 255, 255, 0.65);
}
.main-t-light .settings-saved-alert {
  color: #333;
  text-shadow: 0 0 8px #fff;
}
.main-t-light .settings-list-heading {
  color: #333;
}
.main-t-light .settings-action-button .settings-button-icon {
  color: #333;
}
.main-t-light .settings-action-button:hover .settings-button-icon {
  color: #f1f1f1;
}
.main-t-light .settings-button {
  border-color: #333;
  color: #333;
}
.main-t-light .settings-button:before {
  background-color: #333;
}
.main-t-light .settings-button:hover {
  color: #f1f1f1;
}
.main-t-light .settings-theme-option-radio + .settings-theme-option-label {
  border-color: #333;
  color: #333;
}
.main-t-light .settings-theme-option-radio + .settings-theme-option-label:before {
  background-color: #333;
}
.main-t-light .settings-theme-option-radio:checked + .settings-theme-option-label {
  color: #f1f1f1;
}
.main-t-dark .i-container-front,
.main-t-dark .i-container-back {
  background-color: rgba(0, 0, 0, 0.4);
}
.main-t-dark .i-container-time {
  color: #f1f1f1;
}
.main-t-dark .i-info-text {
  color: #f1f1f1;
  text-shadow: 0 1px 1px rgba(20, 20, 20, 0.65);
}
.main-t-dark .i-info-line {
  border-color: #f1f1f1;
}
.main-t-dark .i-info-list-item,
.main-t-dark .i-info-list-item-link {
  color: #f1f1f1;
  border-color: #f1f1f1;
  text-shadow: 0 0 2px rgba(20, 20, 20, 0.65);
}
.main-t-dark .i-info-list-item:hover .i-info-list-item-link {
  color: #333;
}
.main-t-dark .settings {
  background-color: rgba(0, 0, 0, 0.65);
}
.main-t-dark .settings-saved-alert {
  color: #f1f1f1;
  text-shadow: 0 0 8px #000;
}
.main-t-dark .settings-list-heading {
  color: #f1f1f1;
}
.main-t-dark .settings-action-button .settings-button-icon {
  color: #f1f1f1;
}
.main-t-dark .settings-action-button:hover .settings-button-icon {
  color: #333;
}
.main-t-dark .settings-button {
  border-color: #f1f1f1;
  color: #f1f1f1;
}
.main-t-dark .settings-button:before {
  background-color: #f1f1f1;
}
.main-t-dark .settings-button:hover {
  color: #333;
}
.main-t-dark .settings-theme-option-radio + .settings-theme-option-label {
  border-color: #f1f1f1;
  color: #f1f1f1;
}
.main-t-dark .settings-theme-option-radio + .settings-theme-option-label:before {
  background-color: #f1f1f1;
}
.main-t-dark .settings-theme-option-radio:checked + .settings-theme-option-label {
  color: #333;
}
